@model ISS_space_station.Models.IIS.SpaceStationDetails
@{
    ViewData["Title"] = "IIS position";
}
<form>
    <label for="statusField">Długość i szerokość geograficzna:</label>
    <input type="text" id="statusField" value="@((Model.Latitude).ToString().Replace(',','.'))" readonly />
    <input type="text" id="statusField" value="@((Model.Longitude).ToString().Replace(',','.'))" readonly />
    <label for="statusField">Szybkość</label>
    <input type="text" id="statusField" value="@((Model.Velocity).ToString().Replace(',','.')) km" readonly />
</form>
<div id="map" style="width: 100%; height: 800px;">
    <script>
        var map = L.map('map').setView([@((Model.Latitude).ToString().Replace(',', '.')), @((Model.Longitude).ToString().Replace(',', '.'))], 4);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map)

        // Dodaje marker/pineskę na szerokosc i dlugosc geo
        var marker = L.marker([@((Model.Latitude).ToString().Replace(',', '.')), @((Model.Longitude).ToString().Replace(',', '.'))]).addTo(map);

        // Dodaje podpis do pineski
        marker.bindPopup("<b>Aktualne położenie ISS</b>").openPopup();
    </script>
</div>